body {
  background-color: #97becf;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}

h1 {
  color: white;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  margin-left: -25px;
}

.contact {
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
