body {
  background-color: #97becf;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#info {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#text {
  width: 300px;
  float: left;
  margin-left: 50px;
  text-align: center;
}

h1 {
  color: white;
  font-family: "aAutoSignature";
  font-size: 250%;
}

p {
  color: white;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: left;
}

img {
  margin: 0 auto;
  height: 100%;
  width: auto;
  margin-left: -25px;
  display: inline-block;
}

#contact {
  margin-top: 250px;
  color: white;
  text-align: center;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

@font-face {
  font-family: "aAutoSignature";
  src: url("aAutoSignature.ttf");
}
